In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
os.chdir(r"G:\Projects\Black Friday Dataset\train_oSwQCTC")
df= pd.read_csv("train.csv")

In [3]:
df.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [4]:
df.shape

(550068, 12)

In [5]:
# counts the number of values per each range

In [6]:
df['Stay_In_Current_City_Years'].value_counts()

1     193821
2     101838
3      95285
4+     84726
0      74398
Name: Stay_In_Current_City_Years, dtype: int64

In [10]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [11]:
# filling missing data
df['Product_Category_2'].fillna(df['Product_Category_2'].mode()[0], inplace=True)
df['Product_Category_3'].fillna(df['Product_Category_2'].mode()[0], inplace=True)

In [12]:
df.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [13]:
#removin column named purchase from the dataset and constructing an array named X which consists of all columns except a column of purchase.
X= df.drop(['Purchase'], axis=1)

In [14]:
from sklearn.preprocessing import LabelEncoder#Now let's import encoder from sklearn library
LE = LabelEncoder()
#Now we will encode the data into labels using label encoder for easy computing

In [15]:
X = X.apply(LE.fit_transform)

In [16]:
#converting the data into the numerical form using pandas

In [17]:
X.Gender = pd.to_numeric(X.Gender)
X.Age = pd.to_numeric(X.Age)
X.Occupation = pd.to_numeric(X.Occupation)
X.City_Category = pd.to_numeric(X.City_Category)
X.Stay_In_Current_City_Years = pd.to_numeric(X.Stay_In_Current_City_Years)
X.Marital_Status = pd.to_numeric(X.Marital_Status)
X.Product_Category_1 = pd.to_numeric(X.Product_Category_1)
X.Product_Category_2 = pd.to_numeric(X.Product_Category_2)
X.Product_Category_3 = pd.to_numeric(X.Product_Category_3)

In [18]:
#Here we will made a array named as Y consisting of data from purchase column

In [19]:
Y= df['Purchase']

In [20]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()

In [21]:
Xs= SS.fit_transform(X).astype(float)

In [22]:
from sklearn import decomposition
pca= decomposition.PCA(4)
x_pca = pca.fit_transform(X)

In [23]:
pca.explained_variance_ratio_

array([7.35040852e-01, 2.64935815e-01, 1.10067739e-05, 5.77492142e-06])

In [24]:
principalDf = pd.DataFrame(data = x_pca, columns = ["component 1", "component 2", "component 3", "component 4"])

In [25]:
from sklearn.model_selection import KFold
#Perform k-fold cross-validation with 20 folds
kf = KFold(n_splits=20)

In [29]:
kf.get_n_splits(X)

20

In [32]:
for train_index, test_index in kf.split(principalDf):
    X_train, X_test = Xs[train_index], Xs[test_index]
    y_train, y_test = Y[train_index], Y[test_index]

In [47]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
fit1 = lr.fit(X_train,y_train)
print("Accuracy Score of Linear regression on train set is:",fit1.score(X_train,y_train)*100)
print("Accuracy Score of Linear regression on test set is:",fit1.score(X_test,y_test)*100)

Accuracy Score of Linear regression on train set is: 13.040045066538974
Accuracy Score of Linear regression on test set is: 36.63983152133759

In [48]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
fit2 = dtr.fit(X_train,y_train)
print("Accuracy Score of Decision Tree on train set is:",fit2.score(X_train,y_train)*100)
print("Accuracy Score of Decision Tree on test set is:",fit2.score(X_test,y_test)*100)

Accuracy Score of Decision Tree on train set is: 100.0
Accuracy Score of Decision Tree on test set is: 57.24531039023268

In [49]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
fit3 = rfr.fit(X_train,y_train)
print("Accuracy Score of Random Forests on train set is:",fit3.score(X_train,y_train)*100)
print("Accuracy Score of Random Forests on test set is:",fit3.score(X_test,y_test)*100)

Accuracy Score of Random Forests on train set is: 94.20464002479719
Accuracy Score of Random Forests on test set is: 74.72519498331428

In [51]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()
fit4 = gbr.fit(X_train,y_train)
print("Accuracy Score of Gradient Boosting on train set is:",fit4.score(X_train,y_train)*100)
print("Accuracy Score of Gradient Boosting on test set is:",fit4.score(X_test,y_test)*100)

Accuracy Score of Gradient Boosting on train set is: 65.44745088262064
Accuracy Score of Gradient Boosting on test set is: 72.44203893495353